<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ABOUT</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
    <div class="container text-center">
        <h1>About you...</h1>
        <p>This is a password generator created by Himanshu Tewari. Enjoy !</p>
        <a href="{% url 'password' %}" class="btn btn-success">Password Generated</a>
        <br>
        <br>
        <a href="{% url 'home' %}" class="btn btn-warning">Home</a>
    </div>

</body>
</html>